<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />
        <link rel="dns-prefetch" href="//rfreebern.github.com" />
        <meta name="author" content="Ryan Freebern" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.66" />
        <meta http-equiv="cleartype" content="on" />
        <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
        <link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css" />
        <link href="/assets/css/reset.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/assets/css/screen.css" rel="stylesheet" type="text/css" media="screen and (min-device-width: 481px)" />
        <link href="/assets/css/mobile.css" rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" />
        <link rel="icon" href="/assets/img/favicon.ico" />
        <link rel="apple-touch-icon" href="/assets/img/icon.png" />
    </head>

    <body class="{{ page.body_class }}">
        <!--[if lt IE 9]>
        <script>
            document.createElement("header" );
            document.createElement("footer" );
            document.createElement("section"); 
            document.createElement("aside"  );
            document.createElement("nav"    );
            document.createElement("article"); 
            document.createElement("hgroup" ); 
            document.createElement("time"   );
        </script>
        <noscript>
            <strong>Warning!</strong>
            Because your browser does not support HTML5, some elements are simulated using JScript.
            Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
        </noscript>
        <![endif]--> 
        {{ content }}
        <footer>
            <p class="home">
                Ryan Freebern<br/>
                <a href="http://rnf.me">http://rnf.me</a><br/>
                Comments? I'm <a href="http://twitter.com/rfreebern">@rfreebern</a> on Twitter.
            </p>
            <p class="license">
                All content licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="CC-BY 3.0" rel="license">CC-BY 3.0</a>
            </p>
        </footer>
    </body>
</html>
